* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: darkgrey;
    /* flex-direction: column; */
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
  .nav-bar{
    background-color: rgb(247, 100, 100);
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /* flex-direction: column; */
  }
}

@media (min-width: 1024px) {
  .nav-bar { 
    background-color: rgb(101, 102, 102);
    display: grid;
    grid-auto-flow: column; 
    justify-content: center;
    /* flex-direction: row; */
  }
}

@media (min-width: 1280px) {
    .nav-bar {
      background-color: antiquewhite;
    display: inline-block;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
        /* flex-direction: column; */
    }
}