* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.keypad {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.blok-rumus-kiri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    order: 2;
}

.blok-rumus-kanan {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    order: 1;
}

@media (min-width:768px) {
    .keypad {
        flex-direction: row;
    }
    .blok-rumus-kiri {
        order: 2;
    }
    .blok-rumus-kanan {
        order: 1;
    }
}
