* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-bottom: 5px;

}

.flex-container {
    text-align: center;
    border: 2px solid black;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    border: 2px solid black;
    background-color: aqua;
    flex-basis: 100px;
    flex-grow: 1;
}

.flex-item:nth-child(3n+2) {
    flex-grow: 2;
    background-color: aquamarine;
}


@media (min-width: 768px) {
  .nav-bar {
    background-color: rgb(247, 100, 100);
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .nav-bar{ 
    background-color: rgb(101, 102, 102);
    flex-direction: column;
    padding: 10px;
  }
}